/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    position: fixed;
    height: 50px;
    width: 90%;
    background-color: greenyellow;
    top: 10px;
    right: 0;
    left: 65px;
    border-radius: 10px;
    /* overflow: hidden; */
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: black;
    text-transform: uppercase;
}

#nav li a {
    
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > .subnav {
    display: block;
}

#nav > li:hover > a {
    color: aliceblue;
    background-color: purple;
    border-radius: 10px;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
    z-index: 1;
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}

#top_slider {
    height: 40px;
}

#slider {
    margin: 100px 0;
}

.slider__what {
    display: flex;
    z-index: -1;
    justify-content: space-around;
    margin: 70px 20px;
}

.slider__what-img {
    width: 20%;
    border-radius: 10px;
}

.slider__what-img:hover {
    transform: translateX(10px);
    box-shadow: 0 10px 200px 0 rgb(253, 77, 2);
}

.slider__what-title {
    width: 50%;
}

.slider__what-content {
    color: rgb(104, 103, 103);
    text-align: justify;
}

#top_feature {
    height: 40px;
}

#feature {
    display: flex;
    justify-content: space-around;
}

.feature__box {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.feature__bigtitle {
    height: 100px;
    background-color: red;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    margin: 10px 10px;
}

.feature__content {
    color: rgb(104, 103, 103);
    text-align: justify;
    border: 4px solid red;
    border-radius: 10px;
    margin: 10px 10px;
}

.feature__img {
    width: 94%;
    border-radius: 10px;
    margin: 10px 10px;
}

.feature__img:hover {
    transform: translateX(10px);
    box-shadow: 0 10px 200px 0 rgb(253, 77, 2);
}

#top_customization {
    height: 100px;
}

.customization {
    display: flex;
    flex-direction: column;
}

.customization__box {
    display: flex;
    align-items: center;
}

.customization__bigtitle {
}

.customization__img {
    width: 30%;
    border-radius: 10px;
    margin: 10px 10px;
}

.customization__img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px 0 rgb(101, 99, 99);
}

.customization__content {
    color: rgb(104, 103, 103);
    text-align: justify;
}

#top__tip {
    height: 100px;
}

.tip_box {
    display: flex;
    z-index: -1;
    justify-content: space-around;
    margin: 70px 20px;
}

.tip__img {
    width: 20%;
    border-radius: 10px;
}

.tip__what-title {
    width: 50%;
}

.tip__bigtitle {

}

.tip__content {
    color: rgb(104, 103, 103);
    text-align: justify;
}

.tip__link-img {
    width: 20%;
    border-radius: 10px;
}

#content {

}

#footer {

}
